nav{
  display: flex;
  justify-content: center;
  background-color: purple;
  border-radius: 50px;
  margin-bottom: 5vh;
  p{

    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      color: red;
    }
  }
}

div{
  display: flex;
  align-items: center;
  flex-direction: column;
  p{
    font-weight: bold;
    color: purple;
  }
}


section{
  padding: 0.5rem;
  width: 30%;
  border-radius: 10px;
  background-color:  purple;
  position: fixed;
  bottom: 0;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h3{
    color: white;
  }

  input{
    width: 40%;
  }

  button{
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  button:hover{
    background-color: rgb(154, 222, 51);
    color: white;
    border: 2px solid white;
  }
}


@media screen and (max-width: 600px){
  section{
    flex-direction: column;
    button{
      margin-left: 0;
      margin-top: .5rem;
    }
  }
}
